table {
    background-color: green;
    color: white;
    border: 10px solid black;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

th {
    border: 5px solid red;
}

td {
    border: 5px solid red;
}
a {
    color: yellow;
}
